/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "http://fonts.googleapis.com/css?family=Cabin:700,700italic|Open+Sans:600,400";

//----------------- Variables

$red: #cc0504;
$light-grey: #f0f0f0;
$grey: #7f7f7f;
$dark-grey: #1a1a1a;

//----------------- Mixins

@mixin ff-cabin {
  font-family:'Cabin', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin ff-open-reg {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin ff-open-bold {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin fade {
  @include transition-duration(.5s);
}

//----------------- Base

* { position: relative; }

.wrapper {
  margin: 0 auto;
  width: 880px
}

p {
  line-height: 24px;
  padding:0 0 30px 0;
}

a {
  text-decoration: none;
  &.btn {
    @include ff-cabin;
    color: #fff;
    font-size: 18px;
    background: $red;
    text-transform: uppercase;
    padding: 14px 18px 13px;
    text-align: center;
    @include fade;
  }
}

input {
  font-size: 18px;
  padding: 14px 16px;
  border: none;
  &:focus {
    outline: $red solid 1px;
  }
}

section {
  @include clearfix;

  h1 {
    color: $red;
    font-size: 44px;
    @include ff-cabin;
    text-transform: uppercase;
    padding:0 0 20px 0;
    & span {
      color: $grey;
      font-size: 14px;
      display: block;
    }
  }
  h2 {
    @include ff-open-bold;
    font-size: 16px;
    padding:0 0 10px 0;
  }
  .left-content {
    float: left;
    width: 460px;
  }
}

//----------------- Site

body {
  font-size: 14px;
  color: #000;
  @include ff-open-reg;
  background: $light-grey;
}

header {
  background: #000 url(../images/header-bg.jpg) center top no-repeat;
  height: 600px;
  color: #fff;
  @include ff-cabin;
  .backstretch { background-color: #000 }
  .top {
    width: 940px;
    padding: 12px 60px 14px;
    margin: 0 auto;
    border-bottom: 1px solid $dark-grey;
    @include clearfix;
    h1 {
      float: left;
      font-style: italic;
      color: $grey;
      a {
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        font-style: normal;
        margin-right: 4px;
        img {
          margin: 0 8px -5px 0;
        }
      }
    }
    nav {
      float: right;
      margin: 5px 0 0 0;
      a {
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 0 20px;
        @include fade;
        &:hover {
          color: $grey;
        }
        &.promo {
          background: $red;
          padding: 3px 8px 2px;
          &:hover {
            background: #fff;
            color: $red;
          }
        }
      }
    }
  }

  .video-promo {
    text-align: center;
    position: absolute;
    width: 800px;
    top: 0;
    bottom: 0;
    height: 280px;
    margin: auto;
    left: 0;
    right: 0;
    h2{
      font-size: 26px;
      color: #fff;
      font-style: italic;
      span {
        font-size: 180px;
        color: $red;
        font-style: normal;
        text-transform: uppercase;
        line-height: 166px;
      }
    }
    a {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      margin:10px 0;
      @include fade;
      @include opacity(0.3);
      img {
        margin: 0 10px -15px;
      }
      &:hover {
        @include opacity(1);
      }
    }
  }
}

section.signup {
  padding: 7px 0;
  background: #fff;

  input {
    background: $light-grey;
    width: 256px;
    margin-right: 6px;
  }
  a.btn {
    &:hover {
      color: #fff;
      background: #000;
    }
  }

}

section.book {
  padding: 50px 0 0 0;
  .diver {
    clear:both;
    padding: 64px 72px 86px 188px;
    color: #fff;
    line-height: 29px;
    font-size: 16px;
    background: no-repeat 0 0 url(../images/diver-quotebox.gif);
  }
  .bookmock {
    margin: -6px 0 0 90px;
  }
}

section.author {
  padding: 50px 0 36px 0;
  background: #fff;
  .dan {
    position: absolute;
    top: -87px;
    z-index: 10000;
    right: -15px;
  }
}

section.order {
  padding: 50px 0 70px 0;
  background: #000;
  color: #fff;
  h1 {
    padding-bottom: 6px;
  }
  form {
    float: left;
    width: 420px;
    margin: 40px 0 0 0;
    * {
      display: block;
      margin: 0 0 10px 0;
    }
    input {
      width: 390px;
      background: $dark-grey;
      color: #fff;
    }
    a.btn:hover {
      color: $red;
      background: #fff;
    }
    span {
      text-align: center;
      color: $grey;
    }
  }
  .bookmock {
    margin: 19px 0 0px 60px;
  }
}

footer {
  padding: 26px;
}
