@import "http://fonts.googleapis.com/css?family=Cabin:700,700italic|Open+Sans:600,400";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 41, ../sass/screen.scss */
* {
  position: relative;
}

/* line 43, ../sass/screen.scss */
.wrapper {
  margin: 0 auto;
  width: 880px;
}

/* line 48, ../sass/screen.scss */
p {
  line-height: 24px;
  padding: 0 0 30px 0;
}

/* line 53, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 55, ../sass/screen.scss */
a.btn {
  font-family: 'Cabin', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  background: #cc0504;
  text-transform: uppercase;
  padding: 14px 18px 13px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 67, ../sass/screen.scss */
input {
  font-size: 18px;
  padding: 14px 16px;
  border: none;
}

/* line 73, ../sass/screen.scss */
section {
  overflow: hidden;
  *zoom: 1;
}
/* line 76, ../sass/screen.scss */
section h1 {
  color: #cc0504;
  font-size: 44px;
  font-family: 'Cabin', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 20px 0;
}
/* line 82, ../sass/screen.scss */
section h1 span {
  color: #7f7f7f;
  font-size: 14px;
  display: block;
}
/* line 88, ../sass/screen.scss */
section h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 0 0 10px 0;
}
/* line 93, ../sass/screen.scss */
section .left-content {
  float: left;
  width: 460px;
}

/* line 101, ../sass/screen.scss */
body {
  font-size: 14px;
  color: #000;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #f0f0f0;
}

/* line 108, ../sass/screen.scss */
header {
  background: black url(../images/header-bg.jpg) center top no-repeat;
  height: 600px;
  color: #fff;
  font-family: 'Cabin', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 114, ../sass/screen.scss */
header .top {
  width: 940px;
  padding: 12px 60px;
  margin: 0 auto;
  border-bottom: 1px solid #1a1a1a;
  overflow: hidden;
  *zoom: 1;
}
/* line 120, ../sass/screen.scss */
header .top h1 {
  float: left;
  font-style: italic;
  color: #7f7f7f;
}
/* line 124, ../sass/screen.scss */
header .top h1 a {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  margin-right: 4px;
}
/* line 130, ../sass/screen.scss */
header .top h1 a img {
  margin: 0 8px -5px 0;
}
/* line 135, ../sass/screen.scss */
header .top nav {
  float: right;
  margin: 5px 0 0 0;
}
/* line 138, ../sass/screen.scss */
header .top nav a {
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 0 20px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 143, ../sass/screen.scss */
header .top nav a:hover {
  color: #7f7f7f;
}
/* line 150, ../sass/screen.scss */
header .video-promo {
  text-align: center;
  margin: 170px auto 0 auto;
  width: 800px;
}
/* line 154, ../sass/screen.scss */
header .video-promo h2 {
  font-size: 26px;
  color: #fff;
  font-style: italic;
}
/* line 158, ../sass/screen.scss */
header .video-promo h2 span {
  font-size: 180px;
  color: #cc0504;
  font-style: normal;
  text-transform: uppercase;
  line-height: 166px;
}
/* line 166, ../sass/screen.scss */
header .video-promo a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 173, ../sass/screen.scss */
header .video-promo a img {
  margin: 0 10px -15px;
}
/* line 176, ../sass/screen.scss */
header .video-promo a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 183, ../sass/screen.scss */
section.signup {
  padding: 18px 0;
  background: #fff;
}
/* line 187, ../sass/screen.scss */
section.signup input {
  background: #f0f0f0;
  width: 256px;
  margin-right: 6px;
}
/* line 193, ../sass/screen.scss */
section.signup a.btn:hover {
  color: #fff;
  background: #000;
}

/* line 201, ../sass/screen.scss */
section.book {
  padding: 50px 0 0 0;
}
/* line 203, ../sass/screen.scss */
section.book .diver {
  clear: both;
  padding: 64px 72px 86px 188px;
  color: #fff;
  line-height: 29px;
  font-size: 16px;
  background: no-repeat 0 0 url(../images/diver-quotebox.gif);
}
/* line 211, ../sass/screen.scss */
section.book .bookmock {
  margin: -6px 0 0 90px;
}

/* line 216, ../sass/screen.scss */
section.author {
  padding: 50px 0 36px 0;
  background: #fff;
}
/* line 219, ../sass/screen.scss */
section.author .dan {
  position: absolute;
  top: -87px;
  z-index: 10000;
  right: -15px;
}

/* line 227, ../sass/screen.scss */
section.order {
  padding: 50px 0 70px 0;
  background: #000;
  color: #fff;
}
/* line 231, ../sass/screen.scss */
section.order h1 {
  padding-bottom: 6px;
}
/* line 234, ../sass/screen.scss */
section.order form {
  float: left;
  width: 420px;
  margin: 40px 0 0 0;
}
/* line 238, ../sass/screen.scss */
section.order form * {
  display: block;
  margin: 0 0 10px 0;
}
/* line 242, ../sass/screen.scss */
section.order form input {
  width: 390px;
  background: #1a1a1a;
  color: #fff;
}
/* line 247, ../sass/screen.scss */
section.order form a.btn:hover {
  color: #cc0504;
  background: #fff;
}
/* line 251, ../sass/screen.scss */
section.order form span {
  text-align: center;
  color: #7f7f7f;
}
/* line 256, ../sass/screen.scss */
section.order .bookmock {
  margin: 19px 0 0px 60px;
}

/* line 261, ../sass/screen.scss */
footer {
  padding: 26px;
}
